* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: grey;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}
.info {
    display: inline-block;
    border: 1px solid black;
    border-radius: 15px;
    padding: 20px;
    background-color: #ccd5ae;
}
.container {
    border: 1px solid black;
    border-radius: 10px;
    width: 80%;
    height: 750px;
    margin: auto;
    margin-top: 20px;
    background-color: #faedcd;
}
.playField {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
}
.computerImg {
    border: 1px solid black;
    width: 300px;
    height: 200px;
}
.computerImg img {
    width: 100%;
    height: 100%;
    background-size: contain;
}
.scoreBoard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid black;
    width: 50%;
    height: 50px;
    background-color: #e9edc9;

}
.playerScore, .nameScore, .computerScore{
    border: 1px solid black;
    width: 33.333%;
}
.playerImg {
    border: 1px solid black;
    width: 300px;
    height: 200px;
}
.playerImg img {
    width: 100%;
    height: 100%;
    background-size: contain;
}
.playerChoices {
    display: flex;  
    justify-content: center;
    text-align: center;
    gap: 15px;
    width: 100%;
    height: 230px;
    margin-top: 30px;
}
.playerChoices div {
    width: 300px;
    height: 200px;
    border: 1px solid black;
    background-color: #fefae0;
}
.playerChoices button {
    width: 100%;
    height: 100%;
    border: none;
    margin: 0;
    padding: 0;
    background: none;
    cursor: pointer;
}
button img {
    width: 80%;
    height: 80%;
    object-fit: contain;
}
.scoreBoard p {
    font-size: 25px;
    text-align: center;
    padding-top: 5px;
}
.blurAll {
    position: relative;
    width: 100%;
    height: 100%;
    filter: blur(2px);
}
.popUp {
    border: 1px solid black;
    border-radius: 10px;
    width: 400px;
    height: 200px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background-color: rgb(97, 210, 97);
    text-align: center;
}
.popUp h1 {
    margin-top: 10%;
}
.popUp button {
    width: 160px;
    height: 40px;
    margin-top: 20px;
}